html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: black;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: black;
    padding: 24px;
}

.sidebar .logo img {
    width: 110px;

}

.menu {
    padding-top: 50px;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.header {
    position: fixed;
    top: 0;
    left: 244px; /* sidebar width */
    right: 0;
    height: 60px;
    background-color: rgb(18, 18, 18);
}

main {
    min-height: 100vh;
    background: #101010;
}



a {
    position: relative;
    display: inline-block;
    color: darkgrey;
    overflow: hidden;
}

a {
    background: linear-gradient(to right, slategrey,
    slategrey 50%, darkgrey 50%);
}

a {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
}

a {
    transition: background-position 275ms ease;
}

a:hover {
    background-position: 0 100%;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btn {
    background: rgb(7, 7, 7);
    color: #fff;
    border: 0;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    cursor: pointer;
    outline: 0;
}

.header-btn.previous {
    margin-left: 30px;
    margin-right: 10px;
}


.dropdown {
    position: relative;
}

.dropdown-button {
    border: 0;
    color: #fff;
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(45, 45, 45);
    padding: 6px 14px 6px 14px;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 10px;
    margin-left: 3px;
    padding: 1px 1px 1px 3px;
    width: 70px;
    background-color: rgb(45, 45, 45);
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
}

.dropdown-content-show {
    display: flex;
    position: absolute;

}

.section {
    margin-bottom: 35px;
}

.section-title {
    font-size: 25px;
    padding-top: 60px;
    padding-left: 270px;
    color: ghostwhite;
}

.section-title-2 {
    font-size: 25px;
    padding-left: 270px;
    color: ghostwhite;
}


.section-body {
    display: flex;
    flex-wrap: wrap;
    padding-left: 270px;
}


.section-body-item {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 16px;
    margin-bottom: 16px;

}

.category-item {
    width: 180px;
    height: 180px;
    background-color: rgb(245, 155, 35);
}

.category-item:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,212,255,0) 100%);
    z-index: -1;
}

.category-item a {
    display: block;
    height: 100%;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.category-item a h3 {
    margin: 0;
    padding-top: 16px;
    padding-left: 16px;
}

.category-item img {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -5px;
    right: -18px;
    transform: rotate(25deg);
    z-index: 0;
    box-shadow: -1px 3px 2px 0px rgba(0,0,0,0.1);
}

.section-body-item.section-body-item-1 {
    width: 375px;
    height: 220px;
}

.section-body-item.section-body-item-1.category-item img {
    width: 130px;
    height: 130px;
}

.section-body-item.section-body-item-1.category-item a {
    font-size: 25px;
}


