html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: black;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: black;
    padding: 24px;
}

.sidebar .logo img {
    width: 110px;

}

.menu {
    padding-top: 50px;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-size: 15px;

}

.menu-li {
    padding-bottom: 5px;
}

main {
    min-height: 100vh;
    background: #101010;
}



a {
    position: relative;
    color: darkgrey;
    overflow: hidden;
}

a {
    background: linear-gradient(to right, slategrey,
    slategrey 50%, darkgrey 50%);
}

a {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
}

a {
    transition: background-position 275ms ease;
}

a:hover {
    background-position: 0 100%;
}

.dropdown {
    position: relative;
}

.dropdown-button {
    border: 0;
    color: #fff;
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(45, 45, 45);
    padding: 6px 14px 6px 14px;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 1px 1px 1px 3px;
    width: 70px;
    background-color: rgb(45, 45, 45);
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    overflow: auto;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.4);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content-show {
    display: block;
    color: #fff;
    padding: 5px;
    text-decoration: none;
}
.header {
    position: fixed;
    top: 0;
    left: 244px; /* sidebar width */
    right: 0;
    height: 60px;
    background-color: rgb(18, 18, 18);
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-btn {
    background: rgb(7, 7, 7);
    color: #fff;
    border: 0;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    cursor: pointer;
    outline: 0;
}

.header-btn.previous {
    margin-left: 30px;
    margin-right: 10px;
}

.arrow {
    border: solid hsl(0, 0%,50%);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;

}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}