.header {
    position: fixed;
    top: 0;
    left: 244px; /* sidebar width */
    right: 0;
    height: 60px;
    background-color: rgb(18, 18, 18);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-actions {
    display: flex;
    align-items: center;
}

.header-search {
    margin-left: 150px;
}

.input {
    margin: 0;
    border: 0;
    position: relative;
    z-index: 1;
    height: 35px;
    border-radius: 25px;

}

.input-group.has-left-icon .input {
    padding-left: 50px;
}

.input-group.has-right-icon .input {
    padding-right: 50px;
}

.input-group .right-icon-search {
    position: absolute;
    z-index: 2;
    right: 15px;
    color: #333;
    height: 40px;
    line-height: 40px;
}

.input-group .right-icon-search {
    z-index: 0;
}


.dropdown {
    position: relative;
}

.dropdown-button {
    border: 0;
    color: #fff;
    border-radius: 20px;
    margin-right: 20px;
    background-color: rgb(45, 45, 45);
    padding: 6px 14px 6px 14px;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.5);
}





.section {
    display: flex;
    justify-content: flex-end;
    padding-top: 100px;
}

.section-titles {
    display: flex;
    justify-content: space-between;
    padding-left: 700px;
    padding-top: 80px;
}

.section-title {
    color: white;
}

.popularity {
    color: white;
    padding-top: 5px;
    margin-left: -25px;
}

.section-content {
    display: flex;
    justify-content: space-between;
    padding-left: 700px;
    padding-top: 20px;
}


.trackInfo img{
    width: 40px;
    height: 40px;
}

.track-content {

    font-size: 12px;
    color: white;
    padding-left: 50px;
    margin-top: -45px;
}

.trackPopularity {
    color: white;
    font-size: 15px;
}

.trackTime {
    color: white;
    font-size: 15px;
}



.dropdown {
    display: flex;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
    padding: 1px 1px 1px 3px;
    width: 70px;
    background-color: rgb(45, 45, 45);
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}



.add-btn {

}


.floating-button {
    text-decoration: none;
    width: 65px;
    height: 30px;
    border-radius: 20px;
    border-color: black;
    margin: 0px 20px;
    font-size: 10px;
    text-align: center;
    font-weight: 600;
    background-color: ghostwhite;
    color: black;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .3);
    transition: .3s;
}
.floating-button:hover {
    background: darkgrey;

}

.table {

    color: white;


}

tr td {
    padding: 0 60px 20px 0;
}

table, tr, td {
    border: 1px;
}


