@model IEnumerable<Playlist_for_party.Models.SpotifyModels.DTO.ArtistDto>
@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";
}


@section Styles{
    <link href="@Url.Content("~/css/HomePage.css")" rel="stylesheet" type="text/css"/>
}


<div class="row">

</div>

<section class="section">
    <h2 class="section-title">Свежие релизы</h2>

    <div class="section-body">
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <div class="card m-1" style="width:200px;">
                    <div class="card-body">
                        <img style="color: #a2ded8" src="@Html.DisplayFor(modelItem => item.ImageRef)" width="150" height="150" alt="Release picture"/>
                        <h5 class="card-title" style="color: #a2ded8">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <a href="@Html.DisplayFor(modelItem => item.Href)" target="_blank">Listen</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p style="color: white">No data available</p>
        }
    </div>
</section>

<section class="section">
    <h2 class="section-title-2">choose</h2>
    <div class="section-body">
        <div class="section-body-item category-item">
            <a href="#">
                <h3>Podcast</h3>
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.GI3NRvHnUGQ5JQbL_jMyzAHaHa%26pid%3DApi&f=1&ipt=abd0f22d9399ee7da25207eabe089390181bb1bc3fc43b26f09bbef550b8afb6&ipo=images" alt="">
            </a>
        </div>
        <div class="section-body-item category-item">
            <a href="#">
                <h3>Podcast</h3>
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.GI3NRvHnUGQ5JQbL_jMyzAHaHa%26pid%3DApi&f=1&ipt=abd0f22d9399ee7da25207eabe089390181bb1bc3fc43b26f09bbef550b8afb6&ipo=images" alt="">
            </a>
        </div>
    </div>
</section>