@{
    ViewData["Title"] = "Playlist";
    Layout = "_Layout";
}

@section Styles{
    <link href="@Url.Content("~/css/Playlist.css")" rel="stylesheet" type="text/css" />
}


<div class="header">
    <div class="header-image">
        <a href="#">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.GI3NRvHnUGQ5JQbL_jMyzAHaHa%26pid%3DApi&f=1&ipt=abd0f22d9399ee7da25207eabe089390181bb1bc3fc43b26f09bbef550b8afb6&ipo=images" alt="">
        </a>
    </div>
    <div class="header-img-text">
        <h5 class="h5-img-text">Открытый плейлист</h5>
        <h1 class="h1-img-text">Мой плейлист № 1</h1>
        <h5 class="h5-img-text">Klim</h5>
    </div>

</div>

<section class="main-part">
    <h2 class="h2-text">Давай добавим что-нибудь в твой плейлист</h2>
    <div class="input-actions">
        <span class="left-icon-search"></span>
        <input type="text" class="input-playlist" placeholder=" 🔍 Поиск треков и выпусков">
        <span class="right-icon-search"></span>
    </div>

</section>