@using Playlist_for_party.Models.Music
@model Playlist_for_party.Models.Music.Playlist
@{
    ViewData["Title"] = "Playlist";
}

@section Styles{
    <link href="css/Playlist.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
              rel="stylesheet">
}

<section class="main-part">
    <h2 class="h2-text">Все треки</h2>
    <div class="section-body">
        @if (Model.Tracks.Any())
        {
            @foreach (var item in Model.Tracks.Where(i => i.GetType() == typeof(Track)))
            {
                <div class="card m-1" style="width:200px;">
                    <div class="card-body">
                        <img style="color: #a2ded8" src="@Html.DisplayFor(modelItem => item.ImageRef)" width="150" height="150" alt="Release picture"/>
                        <h6 class="card-subtitle mb-2 text-muted" style="color: #a2ded8">@Html.DisplayFor(modelItem => item.Name)</h6>
                        <a href="@Html.DisplayFor(modelItem => item.Href)" target="_blank">Listen</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p style="color: white">No data available</p>
        }
    </div>
</section>
