@model Playlist_for_party.Models.SpotifyApiConnection.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger" style="color: white">Error.</h1>
<h2 class="text-danger" style="color: white">An error occurred while processing your request.</h2>

@* @if (Model.ShowRequestId) *@
@* { *@
@*     <p> *@
@*         <strong>Request ID:</strong> <code>@Model.RequestId</code> *@
@*     </p> *@
@* } *@