@model WebApp_Data.Models.UserDtoSingUp

@{
    Layout = "_Layout";
}


<div class="wrapper">
    <h1>Sign Up</h1>
    @using (Html.BeginForm("SingUp", "Account", FormMethod.Post))
    {
        <form action="#">
            @Html.TextBoxFor(m => m.UserName, new { @type = "text" })
            @Html.TextBoxFor(m => m.Password, new { @type = "password" })
            @Html.TextBoxFor(m => m.ReEnterPassword, new { @type = "password" })
        </form>
        <div class="terms">
            <button class="wrapper-SignUp">Sign up</button>
            <div class="member">
                Already a member? <a href="@Url.Action("Login", "Account")">Login here</a>
            </div>
        </div>
    }
</div>